<div class="row">
  <div class="col-md-4 col-sm-12 col-lg-4" id="category-list">
Category List
<ul class="list-unstyled">
  <li class="media" *ngFor="let category of categoryList; let i = item">
    <img src="" alt="" class="mr-3">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{i+1}}. {{category.name}}</h5>
      <!-- <p class="mt-0 mb-1">{{product.description}}</p> -->
    </div>
  </li>
</ul>
  </div>
  <div class="col-md-8 col-sm-12 col-lg-8" id="product-search">
    <input type="search" class="col-8" name="search-product" id="search"><a name="" id="" 
    class="btn btn-primary" href="#" role="button">search</a>
  </div>
  <div class="col-md-8 col-sm-12 col-lg-8" id="product-item">
    <ul class="list-unstyled">
      <li class="media" *ngFor="let product of productList; let i = item">
        <img src="" alt="" class="mr-3">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{i+1}}. {{product.name}}</h5>
          <p class="mt-0 mb-1">{{product.description}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>