<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixet-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a href="" class="navbar-brand">Title</a>
    </div>
    <button mat-raised-button class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggle-icon icon-bar"></span>
      <span class="navbar-toggle-icon icon-bar"></span>
      <span class="navbar-toggle-icon icon-bar"></span>
    </button>
    <div class="collaple navbar-content-end" id="navigation">
      <form class="navbar-form">
        <div class="input-group no-border">
          <input type="text" class="form-control" placeholder="Search...">
        </div>
      </form>
    </div>
  </div>
</nav>


<!-- <mat-toolbar color='primary'>
  <mat-toolbar-row>
      <span>Menu</span>
</mat-toolbar-row>
</mat-toolbar> -->
