<div class="container">
  <h3 class="ui header"> Login From</h3>
  <form [formGroup]="registrForm" (ngSubmit)="onSubmit(registrForm.value)" class="login-form" [class.error]="!registrForm.valid && registrForm.touched">
    <div class="login-container">
      <mat-form-field class="login-full-width" appearance="outline">
        <mat-label for="username">Username:</mat-label>
        <input matInput type="text" id="username" [formControl]="registrForm.controls['username']">
        <mat-hint>Enter Username <span *ngIf="usernameExists" style="color: red;">Username
            already exists. Choose a different one.</span></mat-hint>
      </mat-form-field>
      <mat-form-field class="login-full-width" appearance="outline">
        <mat-label for="email">Email:</mat-label>
        <input matInput type="email" id="email" [formControl]="registrForm.controls['email']">
        <mat-hint>Enter your email <span *ngIf="emailExists" style="color: red;">Email already exists.
            Choose a different one.</span></mat-hint>
      </mat-form-field>
      <mat-form-field class="login-full-width" appearance="outline">
        <mat-label for="password">New Password:</mat-label>
        <input matInput type="password" id="newPassword" [formControl]="registrForm.controls['newPasswordContr']">
        <mat-hint>Enter new password</mat-hint>
      </mat-form-field>
      <mat-form-field class="login-full-width" appearance="outline">
        <mat-label for="password">Confirm Password:</mat-label>
        <input matInput type="password" id="confirmPassword" [formControl]="registrForm.controls['confirmPasswordContr']"
          (keydown.enter)="onEnter($event)">
        <mat-hint>Confirm password <span *ngIf="!onPasswordEqual()" style="color: red;">Passwords not equal...</span></mat-hint>
      </mat-form-field>
      <button mat-button type="submit" color="primary">Submit</button>
      <button mat-button color="primary" [routerLink]="['/welcome']" routerLinkActive="router-link-active">Cancel</button>
    </div>
  </form>
</div>
